<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
	  <services>
		  <service name="SensorService.SensorService" behaviorConfiguration="SensorServiceBehavior">
			  <endpoint address=""
						binding="wsDualHttpBinding"
						bindingConfiguration="Config"
						contract="SensorService.ISensorService" />

			  <endpoint address="mex"
						binding="mexHttpBinding"
						contract="IMetadataExchange" />

			  <host>
				  <baseAddresses>
					  <add baseAddress="http://localhost:58559/SensorService/" />
				  </baseAddresses>
			  </host>
		  </service>
	  </services>

	  <behaviors>
		  <serviceBehaviors>
			  <behavior name="SensorServiceBehavior">
				  <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
				  <serviceDebug includeExceptionDetailInFaults="true" />
				  <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="100" maxConcurrentSessions="100"/>
			  </behavior>
		  </serviceBehaviors>
	  </behaviors>
	  <bindings>
		  <wsDualHttpBinding>
			  <binding name="Config"
					   closeTimeout="00:10:00"
					   openTimeout="00:10:00"
					   receiveTimeout="00:10:00"
					   sendTimeout="00:10:00"
					   bypassProxyOnLocal="false"
					   transactionFlow="false"
					   hostNameComparisonMode="StrongWildcard"
					   maxBufferPoolSize="524288"
					   maxReceivedMessageSize="6553600"
					   messageEncoding="Text"
					   textEncoding="utf-8"
					   useDefaultWebProxy="true">
				  <readerQuotas maxDepth="32"
								maxStringContentLength="819200"
								maxArrayLength="1638400"
								maxBytesPerRead="4096"
								maxNameTableCharCount="16384" />
				  <reliableSession ordered="true" inactivityTimeout="00:10:00" />
				  <security mode="None">
					  <message clientCredentialType="None" negotiateServiceCredential="false" />
				  </security>
			  </binding>
		  </wsDualHttpBinding>
	  </bindings>  
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
	  <directoryBrowse enabled="false"/>
	  <defaultDocument>
		  <files>
			  <clear/>
			  <add value="SensorService.svc"/>
		  </files>
	  </defaultDocument>
  </system.webServer>

</configuration>
